html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/leaves-pattern.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #22c1c3;  /* fallback for the gradient below in old browsers */
    background: linear-gradient(160deg, #fdbb2d 0%, #22c1c3);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #1b9698;
    cursor: default;
    pointer-events: none;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #22c1c3;
    font-size: 33px;
}

.deck .card.disabled {
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    float: center;
    padding-left: 2em;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Styles for the Modal popup
*
*/

.popup {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 5; /* Sit on top */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; */
    max-width: 100%;
    height: 100%; */
    max-height: 100%;
    background-color: inherit;
    justify-content: center;
}

.popup-content {
    position: absolute;
    justify-content:center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.popup .starStat li {
    list-style: none;
    display: inline-block;
}

.tryAgain {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin-top: 1em;
    padding: 1px 10px;
    text-align: center;
    border-style:none;
    border-radius: 100px;
    background: #22c1c3;
    color: white;
    width: 120px;
}

.tryAgain:hover {
    background-color: #fdbb2d;
    }
